* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: grid;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  grid-template-areas:
    "nav head head head head"
    "nav  main main main main"
    "nav  main main main main";
}

body > header {
  grid-area: head;
  background-color: #FFFFFF;
}

body > nav {
  row-gap: 150px;
  grid-area: nav;
  grid-column: 1;
  background-color: #1992d4;
}

body > main {
  grid-area: main;
  background-color: #ffff64;
}

.dashboard_svg {
  width: 48px;
}

.notdashboard_svg {
  width: 36px;
}

.ulbigbro {
  display: grid;
  padding: 15px;
  row-gap: 40px;
  column-gap: 15px;
}

.ul_littlebro {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-bottom: 15px;
  /* row-gap: 10px; */
  column-gap: 25px;
}

.ul_littlebro > h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
}
